.text-center {
    display: block;
    margin: 0 auto;
    text-align: center; 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


body{
    padding-top: 70px;
    overflow-x: hidden;    
}



.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Un valor alto */
}

.navbar {
    background-color:#D3D3D3;
    
}

.navbar-brand{
    font-family: 'Poppins', sans-serif;
}


.menu {
    background-color: #333; /* Color de fondo */
    color: black;
    font-weight: bold;
}

.menu ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.menu li {
    display: inline; /* Coloca las casillas en línea horizontalmente */
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: #fff; /* Color de enlaces */
}
.menu {
    margin-top: 5px; /* Ajusta según sea necesario */
}

.navbar {
    background-color: #D3D3D3; /* Color de fondo de la barra de navegación */
    font-weight: bold;
    color: #fff; /* Color de texto de la barra de navegación */
    padding: 10px; /* Ajusta según sea necesario */
}

.menu {
    background-color: #D3D3D3; /* Color de fondo del menú */
    color: #fff; /* Color de texto del menú */
    margin-top: 10px; /* Margen superior para separar del menú de navegación */
    padding: 10px; /* Ajusta según sea necesario */
}

.devops{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


h2 {
    text-align: center; /* Centra horizontalmente */
}

/* Centra verticalmente en dispositivos móviles (opcional) */
@media (max-width: 768px) {
    h2 {
        display: flex;
        align-items: center;
    }
}
iframe {
    display: block;
    margin: 0 auto;
    text-align: center; /* Centra horizontalmente */
}
@media (max-width: 768px) {
    iframe {
        width: 100%; /* Ajusta el ancho al 100% del contenedor */
    }
}
.parrafo{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.contenedor-imagen {
    text-align: center;
}
.piePagina{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* Cambia el color del botón al pasar el mouse sobre él */
.btn:hover {
    background-color: white; /* Reemplaza "tu-color" con el color deseado */
    color: white; /* Opcional: cambia el color del texto */
    border-color: blueviolet; /* Opcional: cambia el color del borde */
}

/* Elimina el estilo "active" del botón al hacer clic */
.btn:active {
    background-color: #D3D3D3; /* Reemplaza "tu-color" con el color deseado */
    color: white; /* Opcional: cambia el color del texto */
    border-color: blueviolet; /* Opcional: cambia el color del borde */
}

.btn {
    color: white;
}


.portada-libro {
        width: 6in; /* 6 pulgadas */
        height: 9in; /* 9 pulgadas */
        margin: 10px auto; /* Ajusta el valor del margen según sea necesario */
        
}

.portada-libro img {
    width: 100%;
    height: 50%;
}

.portada-libro {
    max-width: 100%; /* Ancho máximo del 100% por defecto */

    /* Media Query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
    @media (max-width: 768px) {
        max-width: 90%; /* Cambia el ancho máximo en pantallas más pequeñas */
    }
}





a.navbar-brand img {
    width: 30px; /* Ancho del icono */
    height: 30px; /* Alto del icono */
}

.navbar-toggler img{
    width: 30px;
    height: 30px;
}

.icon-img {
    width: 30px; /* Ajusta el ancho según el tamaño deseado */
    height: 30px; /* Ajusta el alto según el tamaño deseado */
}


/* estilos del menu desplazable */
.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li {
    margin: 10px 0;
}

.menu-list li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    transition: color 0.3s;
    color: black;
}

.menu-list li a:hover {
    color: black;
    transition: color 0.3s;
}
/* estilos del menu desplazable */






.titulo{
    
        font-size: 50px; /* Tamaño de fuente */
        color: red; /* Color del texto */
        font-weight: bold; /* Peso de la fuente en negrita */
        font-family: Arial, sans-serif; /* Tipo de fuente */
        text-align: center; /* Alineación del texto */
        /* Agrega otros estilos según tus preferencias */

    
}

.titulosH2{
    display: block;
    margin: 0 auto;
    text-align: center; 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: red;
}



.contador {
    background-color: #3498db; /* Color de fondo del contador */
    color: #fff; /* Color del texto del contador */
    font-size: 16px; /* Tamaño de fuente del contador */
    padding: 5px 10px; /* Relleno alrededor del contador */
    border-radius: 5px; /* Borde redondeado del contador */
}

#contador {
    font-weight: bold; /* Texto en negrita */
}

/* Otras reglas de estilo ... */

@media (max-width: 375px) and (max-height: 812px),
       (max-width: 414px) and (max-height: 896px) {
    .navbar {
        background-color: #D3D3D3 !important; /* Usa !important para asegurar la prioridad */
        font-weight: bold;
        color: #fff;
        padding: 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    .navbar-toggler {
        border: none;
        padding: 0;
        background-color: transparent;
        color: white;
        transition: none;
    }

    .navbar-collapse {
        background-color: #D3D3D3; /* Ajusta el fondo del menú desplegable si es necesario */
    }

    /* Otros estilos específicos para iPhone XR y iPhone SE ... */
}





/* Estilo del contenedor del switch */
.modo-switch {
    display: inline-block;
}

/* Estilo del input oculto */
.modo-switch input {
    display: none;
}

/* Estilo de la etiqueta que simula el switch */
.modo-switch label {
    background-color: white; /* Cambiado a fondo negro cuando no está seleccionado */
    display: block;
    width: 60px; /* Ancho del switch */
    height: 30px; /* Altura del switch */
    border-radius: 15px; /* Mitad de la altura para hacerlo circular */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo del círculo interior que se desplaza */
.modo-switch label::before {
    content: "";
    position: absolute;
    width: 26px; /* Diámetro del círculo interior */
    height: 26px;
    background-color: black; /* Cambiado a modo claro cuando no está seleccionado */
    border-radius: 50%;
    top: 2px; /* Alinea el círculo verticalmente */
    left: 2px; /* Alinea el círculo al inicio del switch */
    transition: transform 0.3s;
}

/* Estilo del switch cuando está activo */
.modo-switch input:checked + label {
    background-color: red;  /* Cambiado a modo claro cuando está seleccionado */
}

/* Desplazamiento del círculo interior cuando el switch está activo */
.modo-switch input:checked + label::before {
    transform: translateX(30px); /* Desplaza el círculo a la posición final */
}

/* Estilo del cuerpo del sitio para el modo oscuro */
body.modo-oscuro {
    background-color: black; /* Tono oscuro */
    color: #ffffff; /* Color del texto en modo oscuro */
}


/* Estilo del cuerpo del sitio para el modo claro */
body.modo-claro {
    background-color: #A9A9A9 !important; /* Tono naranja claro */
    color: #333333 !important; /* Color del texto en modo claro */
}



























/* Estilo de la etiqueta que simula el switch */
.modo-switch label {
    background-color: #dddddd; /* Fondo del switch cuando no está seleccionado */
    display: block;
    width: 60px; /* Ancho del switch */
    height: 30px; /* Altura del switch */
    border-radius: 15px; /* Borde redondeado del switch */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo del círculo interior que se desplaza */
.modo-switch label::before {
    content: "";
    position: absolute;
    width: 30px; /* Diámetro del círculo interior */
    height: 30px;
    background-color: #ffffff; /* Color del círculo interior cuando no está seleccionado */
    border-radius: 50%;
    top: 0; /* Alinea el círculo verticalmente */
    left: 0; /* Alinea el círculo al inicio del switch */
    transition: transform 0.3s, background-color 0.3s;
}

/* Estilo del switch cuando está activo */
.modo-switch input:checked + label {
    background-color: red; /* Fondo del switch cuando está seleccionado */
}

/* Desplazamiento del círculo interior cuando el switch está activo */
.modo-switch input:checked + label::before {
    transform: translateX(30px); /* Desplaza el círculo a la posición final */
    background-color: #ffffff; /* Color del círculo interior cuando está seleccionado */
}












/* Estilo del switch cuando está activo en modo claro */
.modo-switch input:checked.modo-claro + label {
    background-color: #ecf0f1; /* Color de fondo claro cuando está seleccionado en modo claro */
}

/* Desplazamiento del círculo interior cuando el switch está activo en modo claro */
.modo-switch input:checked.modo-claro + label::before {
    background-color: #000000; /* Color del círculo interior en modo claro cuando está seleccionado */
}

/* Estilo del texto específico con la clase "text-center" en modo claro */
body.modo-claro .text-center {
    color: #000000; /* Cambia el color del texto en modo claro */
}

/* Estilo del texto específico con la clase "parrafo" en modo claro */
body.modo-claro .parrafo {
    color: #000000; /* Cambia el color del texto en modo claro */
}















